.food{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
    
}

h1{
    color:darkgreen;
    text-align: center;
    
    
}



body{
    background-color:black;
}


